extends layout

block content
	include _navigation

	h1(id='simple_headerh1') Welcome to IdeaFish
	h2(id='simple_headerh2') Turning great ideas into reality

	div(id="slideshow")
		div(id="slideshow-reel")
			each idea in ideas
				div(class='slide')
					a(href='/ideas/'+idea.title)
						p.title= idea.title
					if idea.anonymous
						p.creator= 'By Anonymous'
					else
						p.creator= 'By '+idea.creator[0].name
					p.description= idea.preview
					div(class='slide_tagWrap')
						each tag in idea.tags
							div(class='slide_tag')
								p.tag= tag
					div(class='slide_popularity')
						img(id='like',border='0', src='/images/arrow-up.jpg', alt='up arrow',height='10',val=idea.title)
						p(class='dislikes',class='temp_img')= idea.likes
						img(id='dislike',border='0', src='/images/arrow-down.jpg', alt='down arrow',height='10',class='temp_img',val=idea.title)
						p(class='dislikes',class='temp_img')= idea.dislikes
	a(href="#",id="slideshow-prev") 
	a(href="#",id="slideshow-next") 
	
	div(id='get_started')
		//h2(id='getting_started_header') Getting Started
		div(id='create',class='getting_started')
			h3 Create an idea
			a(href='/newidea')
				img(id='pencil',border='0', src='/images/pencil.jpg', alt='pencil',height='100',class='getting_started_img')
		div(id='explore',class='getting_started')
			h3 Explore the idea pool
			a(href='/ideapool')
				img(id='bino',border='0', src='/images/bino.jpg', alt='binoculars',height='100',class='getting_started_img')
		div(id='inspire',class='getting_started')
			h3 Get inspired
			a(href='/inspire')
				img(id='lightbulb',border='0', src='/images/lightbulb.jpg', alt='lightbulb',height='100',class='getting_started_img')


	include _footer

	
