extends layout

block scripts
	script(src='/javascripts/inspire.js')

block content
	include _navigation
	div(class='ideaPoolWrap')
		div(class='ideaPreview')
			a(href='/ideas/'+idea.title)
				p.title= idea.title
			if idea.anonymous
				p.creator= 'By '+idea.creator[0].name
			else
				p.creator= 'By Anonymous'
			p.description= idea.preview
			div(class='tagWrap')
				each tag in idea.tags
					div(class='tag')
						p.tag= tag
			div(class='popularity')
				img(id='like',border='0', src='/images/arrow-up.jpg', alt='up arrow',height='10',val=idea.title)
				p(class='dislikes',class='temp_img')= idea.likes
				img(id='dislike',border='0', src='/images/arrow-down.jpg', alt='down arrow',height='10',class='temp_img',val=idea.title)
				p(class='dislikes',class='temp_img')= idea.dislikes
					
	div(id='buttonWrap')
		div(id='generateButton')
			p= 'Generate'	
		div(id='mashupButton')
			p= 'Mashup'

	include _footer